header{
    width: 100%;
    height: 140px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{

   margin: 20px;
}

#enati{
    height: 50%;
}



.sorteio{
    width: 80%;
    height: 60vh;
    border: 1px solid black ;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sorteio  h1{
    font-size: 50px;
   text-align: center;
}

.paginas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


.paginas ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.paginas ul li{
    list-style: none;
    margin-right: 50px;


}

.paginas ul li a{
    text-decoration: none;
    padding: 10px;
    background-color: #4cb7e6;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}